common --enable_platform_specific_config
build:linux --sandbox_add_mount_pair=/tmp
build:macos --sandbox_add_mount_pair=/var/tmp
build --incompatible_strict_action_env
build --@rules_go//go/config:pure
test --test_output=errors
